# Virtual Environment
.venv/
venv/
env/
ENV/
Capstone_venv/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.vs/
.idea/
*.swp
*.swo

# PyInstaller
build/
dist/

# OS
.DS_Store
Thumbs.db

