# Virtual Environment
.venv/
venv/
env/
ENV/
Capstone_venv/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.vs/
.idea/
*.swp
*.swo

# PyInstaller
build/
dist/

# Speech models (too large for git - download them locally as needed)
faster-whisper-small/
vosk-model-small-en-us/

# OS
.DS_Store
Thumbs.db

faster-whisper-small
vosk-model-small-en-us
